*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #3a55b8;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.main {
  width: 50rem;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-size: 3rem;
  border-radius: 2rem;
}
